<div class="row mt-5">
    <div class="container-fluid">
        <div class="col-md-12 listweek-title">
            <h2>รายการกิจกรรมสัปดาห์ห้องสมุด</h2>

        </div>
    </div>
</div>


<div class="row">
    

        <div class="col-lg-6 col-md-6 mb-4" *ngFor="let list of regislist">

            <!--Card-->
            <div class="card text-center" >
    
                <div class="card-header aqua-gradient  lighten-1 white-text">
                    
                </div>
                <div class="card-body">
                        <ngx-qrcode qrc-element-type="url" qrc-value="http://libraryweek.snru.ac.th/register/{{list.id}}" qrc-version="3"></ngx-qrcode>
                    <h4 class="card-title">{{list.title}}</h4>
                    <p class="card-text">{{list.detail}}</p>
                    <a [routerLink]="['/register', list.id]" class="btn aqua-gradient btn-rounded btn-sm waves-effect">ลงทะเบียน</a> <a [routerLink]="['/list', list.id]" >รายชื่อ({{list.RegisDetails.length}}/{{list.max}})</a>
                </div>
                <div class="card-footer text-muted ">
                    <span>วันที่จัดกิจกรรม: {{list.date | date:'dd/MM/yyyy' }}  เวลา {{list.timestart}} น. ถึง {{list.timeend}} น.  </span>
                </div>
            </div>
            <!--/.Card-->
    





    </div>
</div>