<div class="row mt-5">
  <div class="container-fluid">
    <div class="col-md-12 listweek-title">
      <h2>กิจกรรมการแข่งขัน e-sport</h2>
      <div class="text-left">
        <h4><strong>การรับสมัคร</strong></h4>
        <p class="text-left">

          - การรับสมัครจะเปิดตั้งแต่วันที่ 12 กุมภาพันธ์ -5 มีนาคม 2562<br />
          - รับสมัครจำนวน 16 ทีม (หากมากกว่า 16 ทีม ทีมงานจะพิจารณาเปิดเพิ่มหากยังไม่หมดเวลารับสมัคร)<br />
          - สถานที่การแข่งขัน อาคารบรรณราชนครินทร์ (ห้องสมุด)<br />
          - เวลาเริ่มการแข่งขัน 13.00 น. เป็นต้นไป (ให้ผู้แข่งขันเตรียมความพร้อมก่อนเวลากำหนด) <br />
          - ตัวแทนทีม 1 คนเป็นคนกรอกข้อมูลให้กับสมาชิกทุกคน <br />
          - แนะนำให้เปลี่ยนชื่อในเกมก่อนสมัครเพื่อลดความยุ่งยากในการขอแก้ไขข้อมูลทีหลัง [ชื่อย่อทีมตามด้วยชื่อตัวละคร]
          <br />
          - หลังจากสมัครข้อมูลต้องรอการยืนยันข้อมูลจากทีมงาน <br />
          - หากต้องการแก้ไขข้อมูลสามารถส่งเรื่องมาได้ที่อีเมล์ visit@snru.ac.th ภายในวันที่ 5 มีนาคม 2562 เวลา 15.00
          น. เท่านั้น <br />
          จะต้องแจ้งชื่อทีม ชื่อย่อทีม ข้อมูลเก่าและข้อมูลที่จะเปลี่ยนให้ชัดเจนไม่เช่นนั้นระบบจะไม่แก้ไขข้อมูลให้ <br />
          - การส่งเรื่องขอแก้ไขข้อมูลจะต้องระบุ ทั้งข้อมูลเก่าและข้อมูลใหม่ที่จะเปลี่ยน ให้ชัดเชน <br />
          - ชื่อย่อทีมไม่จำเป็นต้องเป็นตัวอักษรที่มาจากชื่อทีม (ภาษาอังกฤษ 3-4 ตัว และตัวเลข 0-9 เท่านั้น) <br />
        </p>
        <h4><strong>ผู้สมัครเข้าร่วมการแข่งขัน</strong></h4>
        <p class="text-left">ผู้สมัครจะต้องมีคุณสมบัติทั้งหมดดังนี้<br />
          - รับสมัครเป็นทีมโดยทีมจะต้องมีสมาชิกทั้งหมด 4 คน<br />
          - ทั้งหมด 4 คนจะต้องเป็นนักเรียนหรือนักศึกษา อายุไม่เกิน 25 ปี<br />
          - ทั้งหมด 4 คนจะต้องศึกษาในสถาบันเดียวกัน<br />
          - หากอยู่ในสถาบันเดียวกันแต่อยู่คนละวิทยาเขต สามารถสมัครเป็นทีมเดียวกันได้ภายใต้ชื่อมหาวิทยาลัยเดียวกัน<br />
          โดยเลือกวิทยาเขตหลักของมหาวิทยาลัยตอนสมัคร <br />

          <h4><strong>ชื่อการแข่งขันรายการนี้คือ "PUBGM ARIT 2019"</strong></h4>
          <p class="text-left">

            - การแข่งขันทั้งหมด  3 แมทช์<br />
            - แผนที่ในการแข่งขันคือ Vikendi Sanhok และ Miramar <br/>
            - การตั้งค่าอื่นๆ จะเป็นไปตามระบบตั้งค่าในเกม ไม่เปลี่ยนแปลง <br/>
            - การ Rematch จะขึ้นอยู่กับดุลพินิจของทีมงานเท่านั้นโดยปัญหาจะต้องส่งผลกระทบกับผู้เล่นทุกคน <br/>
            หรือคนหมู่มากกว่าครึ่งหนึ่งของจำนวนคนในแมทช์นั้นๆ เช่น เซิร์ฟเวอร์เกมมีปัญหา เป็นต้น <br/>
            - ไม่อนุญาตให้ทำการ Stream ระหว่างแข่งขัน <br/>
            - ห้ามใช้โปรแกรม Emulator หรือโปรแกรมอื่นๆ ที่สามารถเล่นผ่านคอมพิวเตอร์ โดยถ้าผู้เล่นใช้โปรแกรม <br/>
            เมื่อเข้าห้องแข่งในรูปโปรไฟล์จะมีไอคอนรูปคอมพิวเตอร์อยู่ทางด้านขวาบนซึ่งทีมงานก็จะไล่ออกจากห้องทันที<br/>
            - อุปกรณ์ที่ใช้แข่งขัน ต้องเป็นอุปกรณ์ของผู้เข้าร่วมแข่งขันเอง ไม่มีอุปกรณ์เสริม <br />
          </p>
          <h4><strong>คะแนน</strong></h4>
          <p class="text-left">

            อันดับคะแนนต่อแมทช์<br />
            การ Kill จะได้ 16 คะแนนต่อ 1 Kill <br/>
            #1 - 400 pts.<br/>
            #2 - 330 pts.<br/>
            #3 - 280 pts.<br/>
            #4 - 240 pts.<br/>
            #5 - 210 pts.<br/>
            #6 - 180 pts.<br/>
            #7 - 150 pts.<br/>
            #8 - 120 pts.<br/>
            #9 - 100 pts.<br/>
            #10 - 80 pts.<br/>
            #11 - 60 pts.<br/>
            #12 - 40 pts.<br/>
            #13 - 30 pts.<br/>
            #14 - 20 pts.<br/>
            #15 - 10 pts.<br/>
            #16 - 0 pts.<br/>
            - หากคะแนนเท่ากันจะวัดกันที่จำนวน Kill รวมทุกเกมว่าใครมากกว่ากัน และถ้ายังเท่ากันจะนับอันดับจากเกมสุดท้าย <br>
          </p>
          <h4><strong>เงินรางวัล</strong></h4>
          <p class="text-left">
            - อันดับที่ 1 - 2,500 บาท <br/>
            - อันดับที่ 2 - 1,500 บาท <br/>
            - อันดับที่ 3 - 1,000 บาท <br/>
          </p>
          <h4><strong>ปัญหาในการแข่งขัน</strong></h4>
          <p class="text-left">
            - การตัดสินขึ้นอยู่กับดุลพินิจของทีมงาน และทีมแข่งขันต้องเคารพการตัดสินใจ<br/>
            - ไม่ว่าจะทุจริตด้วยวิธีใดๆ ก็ตาม จะถูกแบนการแข่งขันนี้<br/>
            - ผู้เล่นที่ใช้โปรแกรมช่วยเล่นจะถูกตัดสิทธิ์ออกจากเกมนั้นๆ และลำดับถัดลงมาจะปรับขึ้นแทนตามลำดับ<br/>
            - ผู้เล่นฝ่ายที่โดนเอาเปรียบหรือเสียชีวิตจากทีมที่ใช้โปรแกรมช่วยเล่น จะได้คะแนนเพิ่ม 10% ของอันดับที่จบในเกมนั้นๆ<br/>
            แต่จะต้องมี VDO เป็นหลักฐานเท่านั้น <br/>
            - กรณีที่มีผู้เล่นหลุดจากการแข่งขันอันเกิดจากสภาพอินเตอร์เน็ตส่วนตัว จะดำเนินการแข่งขันต่อโดยไม่มีการหยุดพัก<br/>
            เพราะถือกว่าเป็นปัญหาระดับส่วนบุคคลเท่านั้น <br/>
            - กรณีมีการเจตนาสมรู้ร่วมคิดกับทีมอื่นเพื่อปั้นแต่งการเล่น หากตรวจพบว่ามีความผิดจริง จะตัดออกจากการแข่งขันทันที <br/>
            *สงวนสิทธิ์ในการเปลี่ยนแปลงกติกาหรือรายละเอียดต่างๆ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า <br/>
            **คำตัดสินของทีมงานถือเป็นที่สิ้นสุด<br/><br/>
            หากมีคำถามเกี่ยวกับกฏกติกา สามารถสอบถามเข้ามาได้ที่ visit@snru.ac.th


          </p>

      </div>
    </div>
  </div>
</div>


<div class="row text-center ">
  <div *ngIf="isLoading" class="col-lg-12 col-md-12 text-center"><img src="./assets/img/Preloader_2.gif" width="64"></div>

  <div class="col-lg-6 col-md-6 mb-4" *ngFor="let list of regislist">

    <!--Card-->
    <div class="card text-center">

      <div class="card-header aqua-gradient  lighten-1 white-text">

      </div>
      <div class="card-body">
        <ngx-qrcode qrc-element-type="url" qrc-value="http://exhibition.snru.ac.th/songregister/{{list.id}}"
          qrc-version="4"></ngx-qrcode>
        <h4 class="card-title">{{list.title}}</h4>
        <p class="card-text">{{list.detail}}</p>
        <a *ngIf="list.max > list.RegisDetails.length && list.status === 1 " [routerLink]="['/songregister', list.id]"
          class="btn aqua-gradient btn-rounded btn-sm waves-effect">ลงทะเบียน</a> <a [routerLink]="['/song', list.id]">รายชื่อ({{list.RegisDetails.length}}/{{list.max}})</a>
      </div>
      <div class="card-footer text-muted ">
        <span>วันที่จัดกิจกรรม: {{list.date | date:'dd/MM/yyyy' }} เวลา {{list.timestart}} น. ถึง {{list.timeend}} น.
        </span>
      </div>
    </div>
    <!--/.Card-->

  </div>
</div>
