 <!-- Timeline -->
 <div class="row">

    <div class="container-fluid">

        <div class="row example-split">
            <div class="col-md-12 example-title">
                <h6>กำหนดการจัดกิจกรรม </h6><h2>โครงการสัปดาห์ห้องสมุด</h2>

                    สำนักวิทยบริการและเทคโนโลยีสารสนเทศ <br/>
                    ระหว่างวันที่ 5-7 มีนาคม 2562<br/>
                    ณ อาคารบรรณราชนครินทร์ และ อาคารศูนย์ภาษาและคอมพิวเตอร์ <br>มหาวิทยาลัยราชภัฏสกลนคร

            </div>
            <div class="col-xs-12 col-xs-offset-1 col-sm-12 col-sm-offset-2">
                <ul class="timeline timeline-split">
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title"><i class="fa fa-calendar" aria-hidden="true"></i> วันอังคารที่ 5 มีนาคม 2562</h3>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-list" aria-hidden="true"></i> 08.30 น. เป็นต้นไป</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ลงทะเบียนกิจกรรมสัปดาห์ห้องสมุด</h4>
                            <p>
                              <a href="/register/10">ลงทะเบียนร่วมงาน</a>
                          </p>
                        </div>
                    </li>



                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-users" aria-hidden="true"></i> 09.00 - 09.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">พิธีเปิด</h4>
                                <p>พิธีเปิด ณ อาคารบรรณราชนครินทร์ <br/>
                                   เปิดงานโดย อธิการบดีมหาวิทยาลัยราชภัฏสกลนคร <br/>
                                   กล่าวรายงานโดย ผู้อำนวยการสำนักวิทบริการและเทคโนโลยีสารสนเทศ<br/>
                                    </p>
                        </div>
                    </li>


                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 10.00 - 12.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title"> กิจกรรม Human Library </h4>
                                <p>เรื่อง เปิดช่องทางธุรกิจภูหวานคอฟฟี่ <br/>
                                   วิทยากรโดยคุณกรรณิกา จันทร​​์พา เจ้าของร้านภูหวาน <br/>
                                   ห้องสัตตบงกช อาคารศูนย์ภาษาและคอมพิวเตอร์<br/>
                                  </p>
                                  <p>
                                    <a href="/register/13">ลงทะเบียนออนไลน์</a>
                                </p>


                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 10.30 - 12.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ จำนวน 50 เล่ม ณ อาคารบรรณราชนครินทร์</h4>
                            <p>
                                <a href="/register/3">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-music" aria-hidden="true"></i> 12.00 - 13.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">แสดงดนตรี </h4>
                            <p> โดย บุคลากรสำนักวิทยบริการฯ</p>

                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 14.30 - 16.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ จำนวน 50 เล่ม ณ อาคารบรรณราชนครินทร์</h4>
                            <p>
                                <a href="/register/4">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title"><i class="fa fa-calendar" aria-hidden="true"></i> วันพุธที่ 6 มีนาคม 2562</h3>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-list" aria-hidden="true"></i> 08.30 น. เป็นต้นไป</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ลงทะเบียนร่วมกิจกรรมสัปดาห​์ห้องสมุด</h4>
                            <p>
                              <a href="/register/11">ลงทะเบียนร่วมงาน</a>
                          </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 09.00 - 10.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title"> พิธีลงนามความร่วมมือทางด้านเทคโนโลยีสารสนเทศและห้องสุมด <br/>
                              ณ ห้องสัตตบงกช อาคารศูนย์ภาษาและคอมพิวเตอร์ </h4>

                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 10.00 - 12.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">  บรรยายวิชาการ</h4>
                          <p>เรื่อง ฝันให้ไกลไปให้ถึง ด้วยทักษะการอ่านและการเรียนรู้ <br/>
                            โดย รศ.ดร.น้ำทิพย์ วิภาวิน มหาวิทยาลัยสุโขทัยธรรมาธิราช <br/>
                            ห้องสัตตบงกช อาคารศูนย์ภาษาและคอมพิวเตอร์ </p>
                            <p>
                              <a href="/register/14">ลงทะเบียนออนไลน์</a>
                          </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 10.30 - 12.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ จำนวน 50 เล่ม ณ อาคารบรรณราชนครินทร์</h4>
                            <p>
                                <a href="/register/5">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-music" aria-hidden="true"></i> 12.00 - 13.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">แสดงดนตรี </h4>
                            <p> โดย บุคลากรสำนักวิทยบริการฯ</p>

                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 13.00 - 16.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">บรรยายวิชาการ </h4> เรื่อง การออกแบบระบบเครือข่ายคอมพิวเตอร์ในสถานศึกษา <br>
                            โดย ผศ.ดร.อิฐอารัญ ปิติมล <br/>
                            ห้องสัตตบงกช อาคารศูนย์ภาษาและคอมพิวเตอร์ <br/> <br/>
                            <p>
                              <a href="/register/15">ลงทะเบียนออนไลน์</a>
                          </p>

                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 14.30 - 16.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ จำนวน 50 เล่ม ณ อาคารบรรณราชนครินทร์</h4>
                            <p>
                                <a href="/register/6">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item period">
                            <div class="timeline-info"></div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title"><i class="fa fa-calendar" aria-hidden="true"></i> วันพฤหัสบดีที่ 7 มีนาคม 2562</h3>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-list" aria-hidden="true"></i> 08.30 น.เป็นต้นไป</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">ลงทะเบียนร่วมกิจกรรม e-sport</h4>
                                <p>
                                  <a href="/song">ลงทะเบียนออนไลน์</a>
                              </p>
                            </div>
                        </li>

                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-book" aria-hidden="true"></i> 09.00 - 12.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">การแข่งขัน e-sport ณ อาคารบรรณราชนครินทร์</h4>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-book" aria-hidden="true"></i> 10.30 - 12.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">กิจกรรมสมุดทำมือ จำนวน 50 เล่ม ณ อาคารบรรณราชนครินทร์</h4>
                                <p>
                                    <a href="/register/7">ลงทะเบียนออนไลน์</a>
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-book" aria-hidden="true"></i> 11.30 - 12.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">ประกาศผลกิจกรรม แชะ โชว์ แชร์ ณ อาคารบรรณราชนครินทร์</h4>

                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-music" aria-hidden="true"></i> 12.00 - 13.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">แสดงดนตรี </h4>
                                <p> โดย บุคลากรสำนักวิทยบริการฯ</p>

                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-book" aria-hidden="true"></i> 13.00 - 16.30 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">การแข่งขัน e-sport ณ อาคารบรรณราชนครินทร์</h4>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-book" aria-hidden="true"></i> 14.30 - 16.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">กิจกรรมสมุดทำมือ จำนวน 50 เล่ม ณ อาคารบรรณราชนครินทร์</h4>
                                <p>
                                    <a href="/register/8">ลงทะเบียนออนไลน์</a>
                                </p>
                            </div>
                        </li>

                        <br/>
                        <br/>
                        <br/>

                        <li class="timeline-item">
                            <div class="timeline-info">

                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">หมายเหตุ </h4> กิจกรรม Book Fair และ ICT Fair มีตลอดวัน ตั้งแต่เวลา 09.00-16.30 น.

                            </div>
                        </li>

                </ul>
            </div>
        </div>

    </div>


</div>
<!-- Timeline -->
