 <!-- Timeline -->
 <div class="row">

    <div class="container-fluid">

        <div class="row example-split">
            <div class="col-md-12 example-title">
                <h6>กำหนดการจัดกิจกรรม </h6><h2>โครงการสัปดาห์ห้องสมุด</h2>

                    สำนักวิทยบริการและเทคโนโลยีสารสนเทศ <br/>
                    ระหว่างวันที่ 6-8 กุมภาพันธ์ 2561<br/>
                    ณ อาคารบรรณราชนครินทร์ มหาวิทยาลัยราชภัฏสกลนคร

            </div>
            <div class="col-xs-12 col-xs-offset-1 col-sm-12 col-sm-offset-2">
                <ul class="timeline timeline-split">
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title"><i class="fa fa-calendar" aria-hidden="true"></i> วันอังคารที่ 6 กุมภาพันธ์ 2561</h2>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-list" aria-hidden="true"></i> 08.00 - 09.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ลงทะเบียนรับเอกสาร</h4>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-film" aria-hidden="true"></i> 09.00 - 09.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">วีดีทัศน์แนะนำสำนักวิทยบริการฯ</h4>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-users" aria-hidden="true"></i> 09.30 - 10.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">พิธีเปิด</h4>
                                <p>- เปิดโดย ผศ.ปรีชา ธรรมวินทร อธิการบดีมหาวิทยาลัยราชภัฏสกลนคร<br/>
                                    - กล่าวรายงานโดย อาจารย์สมบัติ เทียบแสง ผู้อำนวยการสำนักวิทบริการและเทคโนโลยีสารสนเทศ<br/>
                                    - ชมการแสดงพิธีเปิด</p>
                        </div>
                    </li>


                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-user-circle-o" aria-hidden="true"></i> 10.30 - 12.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมห้องสมุดมนุษย์

                            </h4>
                            <h6>(Human Library)</h6>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-cutlery" aria-hidden="true"></i> 12.00 - 13.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">รับประทานอาหารกลางวัน</h4>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 13.00 - 14.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ รอบที่ 1</h4>
                            <p>
                                <a href="#">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-music" aria-hidden="true"></i> 14.00 - 14.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ดนตรีโฟล์คซอง </h4>
                            <p> โดย บุคลากรสำนักวิทยบริการฯ</p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 14.30 - 16.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ รอบที่ 2</h4>
                            <p>
                                <a href="#">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title"><i class="fa fa-calendar" aria-hidden="true"></i> วันพุธที่ 7 กุมภาพันธ์ 2561</h2>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-list" aria-hidden="true"></i> 08.00 - 09.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ลงทะเบียนรับเอกสาร</h4>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 09.00 - 10.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ รอบที่ 3</h4>
                            <p>
                                <a href="#">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-microphone" aria-hidden="true"></i> 10.30 - 12.00 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมประกวดร้องเพลง</h4>
                            <p>
                                <a href="#">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-book" aria-hidden="true"></i> 14.00 - 14.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ รอบที่ 4</h4>
                            <p>
                                <a href="#">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span><i class="fa fa-music" aria-hidden="true"></i> <i class="fa fa-book" aria-hidden="true"></i> 14.30 - 16.30 น.</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ดนตรีโฟล์คซอง </h4>
                            <p> โดย บุคลากรสำนักวิทยบริการฯ</p>
                            <h4 class="timeline-title">กิจกรรมสมุดทำมือ รอบที่ 5</h4>
                            <p>
                                <a href="#">ลงทะเบียนออนไลน์</a>
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item period">
                            <div class="timeline-info"></div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h2 class="timeline-title"><i class="fa fa-calendar" aria-hidden="true"></i> วันพฤหัสบดีที่ 8 กุมภาพันธ์ 2561</h2>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-list" aria-hidden="true"></i> 08.00 - 09.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">ลงทะเบียนรับเอกสาร</h4>
                            </div>
                        </li>

                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-book" aria-hidden="true"></i> 12.00 - 13.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">กิจกรรมสมุดทำมือ รอบที่ 6</h4>
                                <p>
                                    <a href="#">ลงทะเบียนออนไลน์</a>
                                </p>
                            </div>
                        </li>

                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-microphone" aria-hidden="true"></i> 13.00 - 14.00 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">กิจกรรมประกวดร้องเพลง</h4>
                                <p>
                                    <a href="#">ลงทะเบียนออนไลน์</a>
                                </p>
                            </div>
                        </li>

                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span><i class="fa fa-music" aria-hidden="true"></i> 14.30 - 16.30 น.</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h4 class="timeline-title">ดนตรีโฟล์คซอง </h4>
                                <p> โดย บุคลากรสำนักวิทยบริการฯ</p>
                            </div>
                        </li>

                </ul>
            </div>
        </div>

    </div>


</div>
<!-- Timeline -->
