<div class="row mt-5">
  <div class="container-fluid">
    <div class="col-md-12 listweek-title">
      <h2>ลงทะเบียนกิจกรรม {{ regisTitle }}</h2>
      <h6>ราละเอียด {{ regisDetail }}</h6>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 mb-3">
    <section class="form-elegant">
      <div class="card">
        <div class="card-header aqua-gradient  lighten-1 white-text">

        </div>
        <div class="card-body mx-1">
          <form  #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
            <div *ngIf="!regisNotMax" class="text-danger text-center"> เต็ม </div>

            <div class="md-form">
              <input #stdid="ngModel" class="form-control" [disabled]="!regisNotMax" ngModel name="stdid" type="text">
              <label for="stdid">รหัสนักศึกษา</label>
            </div>

            <div class="md-form">
              <input #prefix="ngModel" class="form-control" [disabled]="!regisNotMax" ngModel name="prefix" type="text" required>
              <label for="prefix"><span class="text-danger">*</span>นาย/นาง/นางสาว</label>
              <div [hidden]="prefix.valid || (prefix.pristine && prefix.untouched)" class="form-control-feedback alert alert-danger">
                  <div *ngIf="prefix.errors && prefix.hasError('required')">กรุณากรอกคำนำหน้า</div>

              </div>
            </div>

            <div class="md-form">
              <input #fname="ngModel" class="form-control" [disabled]="!regisNotMax" ngModel name="fname" type="text" required>
              <label for="fname"><span class="text-danger">*</span>ชื่อ</label>
              <div [hidden]="fname.valid || (fname.pristine && fname.untouched)" class="form-control-feedback alert alert-danger">
                  <div *ngIf="fname.errors && fname.hasError('required')">กรุณากรอกชื่อ</div>

              </div>
            </div>

            <div class="md-form">
              <input #lname="ngModel" class="form-control" [disabled]="!regisNotMax" ngModel name="lname" type="text" required>
              <label for="lname"><span class="text-danger">*</span>นามสกุล</label>
              <div [hidden]="lname.valid || (lname.pristine && lname.untouched)" class="form-control-feedback alert alert-danger">
                  <div *ngIf="lname.errors && lname.hasError('required')">กรุณากรอกนามสกุล</div>

              </div>
            </div>

            <div class="md-form">
              <span class="text-danger">*</span>กรุณาเลือกคณะ
              <select placeholder="เลือกคณะ" name="agc" class="form-control" [disabled]="!regisNotMax" #agc="ngModel" ngModel required>
                <option *ngFor="let prf of agency" [ngValue]="prf.id">
                  {{ prf.agencyname }}
                </option>
              </select>
              <div [hidden]="agc.valid || (agc.pristine && agc.untouched)" class="form-control-feedback alert alert-danger">
                  <div *ngIf="agc.errors && agc.hasError('required')">กรุณาเลือกคณะ</div>

              </div>


            </div>

            <div class="md-form">
              <input #email="ngModel" class="form-control" [disabled]="!regisNotMax" ngModel name="email" type="text">
              <label for="email">อีเมลล์</label>
            </div>
            <div class="md-form">
              <input #tel="ngModel" class="form-control" [disabled]="!regisNotMax" ngModel ng-value="registerForm.tel" name="tel" type="text">
              <label for="tel">เบอร์โทรศัพท์</label>
            </div>

            <div class="text-center">
              <button type="submit" *ngIf="regisNotMax" [disabled]="registerForm.invalid"  class="btn aqua-gradient btn-sm waves-effect"> ลงทะเบียน</button>

              <button type="reset" *ngIf="regisNotMax" class="btn peach-gradient btn-sm waves-effect" ng-click="clear(registerForm)"> กรอกใหม่</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>


  <div class="col-lg-8">
    <div class="card">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>ชื่อ-สกุล</th>
            <th>คณะ</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of registeruser; index as i">
            <td> {{i+1}} </td>

            <td>{{list.prefix}}{{list.fname}} {{list.lname}}</td>
            <td>{{list.Agencies.agencyname}}</td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
